<footer class="footer bg-neutral-content mt-auto">
  <div class="flex items-center justify-items-center mx-auto">
    <div class="footer-title text-neutral mx-auto p-16">
      Copyright Justin Klitgaard | <%= new Date().getFullYear() %>
    </div>
  </div>
</footer>
