<div class="navbar">
  <div class="navbar-start font-bold text-3xl">
    <a href="/">Course Management</a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li class="text-primary"><a href="/courses">Courses</a></li>
      <li class="text-secondary"><a href="/students">Students</a></li>
      <li class="text-accent"><a href="/instructors">Instructors</a></li>
    </ul>
  </div>
</div>
